<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão do Tempo</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="#">
    
</head>
<body >
    <header class="container" >
        <h1><a href="/">Previsão do Tempo</a></h1>
        <div><h1><a href="/graficos" >Acessar Gráficos</a></h1></div>
    </header>
    
    <main class="container">
        <form class="regiao_Pesq">
            <div class="wrap">
                <input type="radio" class="btn seleciona_r " name="regiao"  id="norte" value="Norte"><label class="anima" for="norte">Norte</label> 
            </div><div class="wrap">
                <input type="radio" class="btn seleciona_r " name="regiao" id="nordeste" value="Nordeste"  ><label class="anima" for="nordeste">Nordeste </label> 
            </div><div class="wrap">
                <input type="radio" class="btn seleciona_r " name="regiao" id="centroeste" value="Centro-Oeste"  ><label class="anima" for="centroeste">Centro-Oeste</label> 
            </div><div class="wrap">
                <input type="radio" class="btn seleciona_r " name="regiao" id="sudeste" value="Sudeste"  checked  ><label class="anima" for="sudeste">Sudeste</label> 
            </div><div class="wrap">
                <input type="radio" class="btn seleciona_r " name="regiao" id="sul" value="Sul"  ><label class="anima" for="sul">Sul</label> 
            </div>
        </form>
        <div class="container"><h2 class="regiao_capitais"></h2></div> 
        <section class="container" id="section_conteudo"></section>
    </main>
    <div class="content">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fs1.static.brasilescola.uol.com.br%2Fbe%2Fconteudo%2Fimages%2Fimagem-em-lente-convexa.jpg&imgrefurl=https%3A%2F%2Feducador.brasilescola.uol.com.br%2Festrategias-ensino%2Fcomo-produzir-imagens-reais-virtuais-sala-aula.htm&tbnid=x1_P2c7esuB1uM&vet=12ahUKEwjNtNKfprfzAhVgLbkGHUazAi8QMygEegUIARDQAQ..i&docid=hSg7FQdSBou-5M&w=700&h=467&q=imagens&client=opera-gx&ved=2ahUKEwjNtNKfprfzAhVgLbkGHUazAi8QMygEegUIARDQAQ" >
      </div>
    <footer class="container">
        <p>Desenvolvido por Álef Vieira Coutinho</p>
        <p>e Kennedy Oliveira</p>
    </footer>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    <script type="text/javascript" src="../static/javascript.js">
    </script>
        
</body>
</html>