<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos da temperatura regional</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header class="container" ><h1><a href="/">Previsão do Tempo</a></h1></header>
    <section>
        <div class="posicao-div-img"><h1>Nordeste</h1>
            <img class="posicao-img" src="../static/graficos/temperatura_Nordeste.png" alt="Gráfico de temperatura Nordeste">
        </div>
    </section>
    <section>
        <div class="posicao-div-img"><h1>Norte</h1>
            <img class="posicao-img" src="../static/graficos/temperatura_Norte.png" alt="Gráfico de temperatura Norte">
        </div>
    </section>
    <section>
        <div class="posicao-div-img"><h1>Centro-Oeste</h1>
            <img class="posicao-img" src="../static/graficos/temperatura_Centro-Oeste.png" alt="Gráfico de temperatura Centro-Oeste">
        </div>
    </section>
    <section>
        <div class="posicao-div-img"><h1>Sudeste</h1>
            <img class="posicao-img" src="../static/graficos/temperatura_Sudeste.png" alt="Gráfico de temperatura Sudeste">
        </div>
    </section>
    <section>
        <div class="posicao-div-img"><h1>Sul</h1>
            <img class="posicao-img" src="../static/graficos/temperatura_Sul.png" alt="Gráfico de temperatura Sul">
        </div>
    </section>
    <footer class="container">
    
        <p>Desenvolvido por Álef Vieira Coutinho</p>
        <p>e Kennedy Oliveira</p>
    </footer>
</body>
</html>