<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos da temperatura regional</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="#">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="cor-fundo">
    
    <header class="container" ><h1><a href="/">Previsão do Tempo</a></h1></header>
    <section class="sec_um">
            <select name="Selecao_graficos" id="select_grafic">
                <option  value="0">Selecione o tipo de Gráfico</option>
                <!-- <option  value="pressao">Pressão</option> -->
                <option  value="temperatura">Temperatura</option>
                <option  value="umidade">Umidade</option>
                <!-- <option  value="vento_dir">Venta Dir</option>
                <option  value="vento_int">Vento Int</option> -->
            </select>
    </section>
    <!-- SEÇÃO QUE VAI FICAR AS IMAGENS -->
    <section class="sec_dois"> 
    </section>

    <footer class="container posicao-footer">
    
        <p>Desenvolvido por Álef Vieira Coutinho</p>
        <p>e Kennedy Oliveira</p>
    </footer>
    <script type="text/javascript" src="../static/javascript.js">
    </script>
</body>
</html>